
// colors
$black: #393939;
$background: #EAEAEA;
$header: #CCCCCC;
$table: #D9D9D9;
$buy: #36B00D;
$sell: #B00D0D;
$white: #FFFFFF;

// font sizes
$big-letters: 3rem;
$small-letters: 1.25rem;

// breakpoints
$tablet: 768px;
$desktop: 1280px;
$monitor: 1600px;