@use './styles/partials/global';
@use './styles/partials/variables' as *;

.main {
  padding: 1.5rem 7rem;
  height: 100vh;
  background-color: $background;
}

.title {
  font-size: $big-letters;
  margin: 0 2rem 0.5rem;
}